<template>
  <div id="wrapper">
    <router-view
    class="view"
    keep-alive
    transition
    transition-mode="out-in">
    </router-view>
  </div>
</template>

<script>

var store = require('../store.js');

module.exports = {
  store,
}
</script>
