<template>
  <div id="home-view">
    <div class="row">
      <div class="col-md-6">
        Home
      </div>
      <div class="col-md-6">
        <button v-on:click="startQuiz()" type="button" class="btn btn-default">Start Quiz</button>
      </div>
    </div>
  </div>
</template>

<script>
  module.exports = {
    name: 'Home',
    methods: {
      startQuiz: function () {
        console.log('go');
        this.$route.router.go('/quiz');
      },
    },
  }
</script>
