<template>
  <div class="col-md-3 personality-type {{ ptype.matchedClass }} {{ ptype.positionClass }}">
    {{ptype.name}}
  </div>
</template>

<script>
module.exports = {
  props: ['ptype'],
};
</script>
