<template>
  <div id="quiz-view">
    <div class="row">
      <div class="col-md-6">
        <div class="row chart-section">
          <h4>Dichotomies</h4>
        </div>
        <div class="row">
          <quiz-chart :dichotomy="dichotomies.IE"></quiz-chart>
          <quiz-chart :dichotomy="dichotomies.SN"></quiz-chart>
        </div>
        <div class="row">
          <quiz-chart :dichotomy="dichotomies.FT"></quiz-chart>
          <quiz-chart :dichotomy="dichotomies.JP"></quiz-chart>
        </div>
      </div>

      <div class="col-md-6 quiz">
        <div v-show="showQuiz">
          <h4 class="quiz">Question {{ questionNumber }} of 32</h4>
          Select the option that most closely describes yourself.<br>
          <div class="trait1">{{ question.trait1 }}</div>
          <button type="button" class="btn btn-default btn-large btn-quiz" v-on:click.stop="handleAnswer(1)" >usually {{question.trait1}}</button>
          <br>
          <button type="button" class="btn btn-default btn-large btn-quiz" v-on:click.stop="handleAnswer(2)" >sometimes {{question.trait1}}</button>
          <br>
          <button type="button" class="btn btn-default btn-large btn-quiz" v-on:click.stop="handleAnswer(3)" >neither</button>
          <br>
          <button type="button" class="btn btn-default btn-large btn-quiz" v-on:click.stop="handleAnswer(4)" >sometimes {{question.trait2}}</button>
          <br>
          <button type="button" class="btn btn-default btn-large btn-quiz" v-on:click.stop="handleAnswer(5)" >usually {{question.trait2}}</button>
          <br>
          <div class="trait2">{{ question.trait2 }}</div>
          <br>
        </div>
      </div>
      <div v-show="showQuizEnd">
        <button v-on:click="showResults()" type="button" class="btn btn-default">Show Results</button>
      </div>
    </div>

    <div class="row interpretation">
      <div class="col-md-6">
        <div class="row chart-section">
          <h4>Personality Types</h4>
        </div>
        <div class="row">
          <personality-type :ptype="personalityTypes.ISTJ"></personality-type>
          <personality-type :ptype="personalityTypes.ISFJ"></personality-type>
          <personality-type :ptype="personalityTypes.INFJ"></personality-type>
          <personality-type :ptype="personalityTypes.INTJ"></personality-type>
        </div>
        <div class="row">
          <personality-type :ptype="personalityTypes.ISTP"></personality-type>
          <personality-type :ptype="personalityTypes.ISFP"></personality-type>
          <personality-type :ptype="personalityTypes.INFP"></personality-type>
          <personality-type :ptype="personalityTypes.INTP"></personality-type>
        </div>
        <div class="row">
          <personality-type :ptype="personalityTypes.ESTP"></personality-type>
          <personality-type :ptype="personalityTypes.ESFP"></personality-type>
          <personality-type :ptype="personalityTypes.ENFP"></personality-type>
          <personality-type :ptype="personalityTypes.ENTP"></personality-type>
        </div>
        <div class="row">
          <personality-type :ptype="personalityTypes.ESTJ"></personality-type>
          <personality-type :ptype="personalityTypes.ESFJ"></personality-type>
          <personality-type :ptype="personalityTypes.ENFJ"></personality-type>
          <personality-type :ptype="personalityTypes.ENTJ"></personality-type>
        </div>
      </div>
      <div class="col-md-6 quiz">
        <div>
          <h4 class="quiz">Results</h4>
          Results are based on the questions answered so far.<br><br>
          {{ result }}<br><br>
          {{ resultDescription }}
        </div>
      </div>

      <div class="col-md-6">
      </div>
    </div>
  </div>
</template>

<script>
var QuizChart = require('./QuizChart.vue');
var PersonalityType = require('./PersonalityType.vue');
var p = require('../personality-types.js');
var saveAnswer = require('../actions.js').saveAnswer;
var saveDichotomyChartData = require('../actions.js').saveDichotomyChartData;
var saveResults = require('../actions.js').saveResults;

module.exports = {
  name: 'Quiz',
  components: { QuizChart, PersonalityType },
  ready: function() {
    console.log('READY');
    console.log(this.dichotomies);
    console.log(this.questions);
    console.log(this.answers);
  },
  vuex: {
   getters: {
     // a state getter function, which will
     // bind `store.state.count` on the component as `this.count`
     dichotomies: function (state) {
       return state.dichotomies
     },
     questions: function (state) {
       return state.questions
     },
     answers: function (state) {
       return state.answers
     }
   },
   actions: {
     saveAnswer,
     saveDichotomyChartData,
     saveResults,
   },
 },
  data: function () {
    return {
      questionNumber: 1,
      showQuestion: true,
      personalityTypes: p,
      result: '',
      resultDescription: 'Results are displayed after you have answered four questions.',
      showQuiz: true,
      showQuizEnd: false,
    }
  },
   computed: {
    question: function () {
      return this.questions[this.questionNumber - 1];
    },
  },
  methods: {
    handleAnswer: function (answer) {
      // Get the dichotomyKey and operation for the current question.
      var dichotomyKey = this.questions[this.questionNumber - 1].dichotomyKey;
      var operation = this.questions[this.questionNumber - 1].operation;
      // Keep track of how many questions have been answered for each dichotomyKey.
      this.dichotomies[dichotomyKey].dichotomyCounter = this.dichotomies[dichotomyKey].dichotomyCounter + 1;
      // Update the cumulative results for the current question scoring key.
      this.dichotomies[dichotomyKey].results = this.dichotomies[dichotomyKey].results + (answer * operation);
      // How many questions have been answered for the current question scoring key.
      var counter =   this.dichotomies[dichotomyKey].dichotomyCounter;
      // The average score for the current question scoring key based on how many
      // questions have been answered so far for that scoring key.
      var average = this.dichotomies[dichotomyKey].averages[counter];
      // The current score for the current question scoring key.
      var score = this.dichotomies[dichotomyKey].results - average;
      // Update the scores array for the current question scoring key.
      this.dichotomies[dichotomyKey].score = score;
      // Charts
      var chartID = this.dichotomies[dichotomyKey].chartID;
      var rightValue = (score - ( counter * (-2))) * (1 / (counter * 4));
      //console.log("rightValue=" + rightValue);
      var leftValue = 1 - rightValue;
      //console.log("leftValue=" + leftValue);
      //this.dichotomies[dichotomyKey].chartData[0].value = rightValue;
      //this.dichotomies[dichotomyKey].chartData[1].value = leftValue;
      this.saveDichotomyChartData(dichotomyKey, rightValue, leftValue);
      var ctx = document.getElementById(chartID).getContext("2d");
      Chart.defaults.global.animation = false;
      Chart.defaults.global.showTooltips = false;
      var chart = new Chart(ctx).Doughnut( this.dichotomies[dichotomyKey].chartData);
      // Save the user's answer to the current question.
      this.saveAnswer(this.questionNumber - 1, answer);
      // Interpret and display the results
      if (this.questionNumber > 3) {
        var ie = (this.dichotomies.IE.score < 0) ? 'I' : 'E';
        var sn = (this.dichotomies.SN.score < 0) ? 'S' : 'N';
        var ft = (this.dichotomies.FT.score < 0) ? 'F' : 'T';
        var jp = (this.dichotomies.JP.score < 0) ? 'J' : 'P';
        for (var key in this.personalityTypes) {
          var type = this.personalityTypes[key];
          type.matchedClass = 'personality-type-not-matched';
        }
        this.result = ie + sn + ft + jp;
        this.resultDescription = this.personalityTypes[this.result].description;
        this.personalityTypes[this.result].matchedClass = 'personality-type-matched';
        this.saveResults(this.result);
      }
      if (this.questionNumber === 32) {
        this.showQuiz = false;
        this.showQuizEnd = true;
      }
      else {
        // Get the next question.
        this.questionNumber++;
        // Remove the previously selected button focus.
        document.activeElement.blur();
      }
    },
    showResults: function () {
      this.$route.router.go('/results');
    },
  },
};
</script>
