<template>
  <div class="col-md-6 chart chartTop">
    <canvas id="{{ dichotomy.chartID }}" width="130" height="130"></canvas>
    <div class="chartLabel">
      <span class="chartLabelLeftValue">{{ dichotomy.leftValueLabel }}</span>
      <span class="chartLabelRightValue">{{ dichotomy.rightValueLabel }}</span>
    </div>
  </div>
</template>

<script>
module.exports = {
  props: ['dichotomy'],
  ready:  function() {
    var ctx = document.getElementById(this.dichotomy.chartID).getContext("2d");
    Chart.defaults.global.animation = false;
    Chart.defaults.global.showTooltips = false;
    var chart = new Chart(ctx).Doughnut(this.dichotomy.chartData);
  }
};
</script>
