<template>
  <div id="results-view">
    <div class="row">
      <div class="col-md-6">
        Results
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</template>

<script>
  module.exports = {
    name: 'Home',
    methods: {
      startQuiz: function () {
        this.$route.router.go('/quiz');
      },
    },
  }
</script>
