@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background: #fff; }

h2 {
  margin: 0 0 40px 0;
  padding: 25px 0 25px 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  color: #0D47A1;
  border-bottom: 1px solid #B3E5FC; }

h3 {
  margin: 50px 0;
  font-weight: bold;
  color: #0D47A1; }

h3.first {
  margin-top: 0; }

h4 {
  margin: 40px 0;
  font-weight: bold;
  color: #0D47A1; }

pre {
  padding-top: 30px;
  margin-top: 40px; }

a {
  font-weight: bold;
  color: #039BE5; }

a:hover {
  color: #0D47A1; }

#links ul {
  list-style-type: none; }

.alert {
  padding-left: 30px; }

.table > tbody > tr > td, .table > tbody > tr > th,
.table > tfoot > tr > td, .table > tfoot > tr > th,
.table > thead > tr > td, .table > thead > tr > th {
  border-top: none;
  padding: 15px 8px 13px 8px; }

.table img {
  border: 1px solid #999; }

.table > tbody {
  border-bottom: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd; }

.clear {
  clear: both; }

.btn-primary {
  background-color: #039BE5;
  border: 1px solid #039BE5; }

.btn-primary:hover {
  background-color: #0D47A1;
  border: 1px solid #0D47A1; }

.btn-link {
  color: #039BE5; }

.btn {
  margin-bottom: 10px; }

.checkbox-line {
  margin-bottom: 40px; }

.img-blue {
  border: 1px solid #0D47A1; }

@media (min-width: 768px) {
  h3.first {
    margin-top: 50px; } }

@media (min-width: 992px) {
  h3.first {
    margin-top: 0; } }

@media (min-width: 1200px) {
  h3.first {
    margin-top: 0; } }

@media (min-width: 1500px) {
  h3.first {
    margin-top: 0; } }

.navbar {
  margin-bottom: 0px;
  padding: 5px 0; }

.navbar-brand {
  padding: 0 15px 0 25px;
  margin-top: 2px; }

.navbar-brand img {
  width: 50px; }

.navbar-nav > li > a {
  padding-top: 10px; }

.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background: #E1F5FE;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #0288D1; }

.navbar-default .navbar-nav > li > a:hover {
  color: #0D47A1; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: #E1F5FE;
  color: #0D47A1;
  text-decoration: underline; }

.nav .open > a,
.nav .open > a:focus, .nav .open > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: #E1F5FE; }

.dropdown-menu {
  background: #E1F5FE; }

.dropdown-menu > li > a {
  color: #039BE5; }

.dropdown-menu > li > a:hover {
  background: #E1F5FE;
  color: #0D47A1; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #039BE5; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #0D47A1; }

.navbar-form {
  margin-top: 6px;
  margin-bottom: 0; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 18px; } }

/* FOOTER ------------------------------------------------------------------- */
footer {
  background: #B3E5FC; }

footer .container {
  background: #B3E5FC;
  color: #0D47A1;
  padding-bottom: 30px;
  font-size: 13px;
  line-height: 21px; }

.footer-links-row {
  padding: 0 200px; }

.footer-title {
  font-weight: bold;
  margin-top: 50px; }

.footer-title-top {
  margin-bottom: 8px; }

.footer-logo-row {
  text-align: center; }

.footer-logo img {
  margin-top: -26px;
  margin-bottom: 0px;
  border: none; }

.social-icons-row {
  text-align: center;
  padding-top: 50px; }

i.fa {
  margin-left: 6px;
  margin-right: 6px; }

.copyright {
  height: 50px;
  color: #039BE5;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #E1F5FE; }

@media (min-width: 992px) {
  .footer-list-middle {
    padding-left: 45px; } }

#app {
  padding-top: 60px;
  padding-bottom: 100px; }

.content {
  margin-top: 60px; }

.personality-quiz h3 {
  margin-bottom: 20px; }

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.chart {
  background: #E1F5FE;
  border: 2px solid #fff; }

.chartTop {
  padding-top: 20px; }

.chart-section {
  text-align: center;
  margin-bottom: 10px; }

.chart-section h4 {
  margin-top: 0;
  margin-bottom: 0; }

.chartLabel {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px; }

.chartLabelLeftValue {
  color: #039BE5; }

.chartLabelRightValue {
  color: #0D47A1; }

.quiz {
  text-align: center; }

.trait1 {
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px; }

.trait2 {
  font-size: 18px;
  margin-top: 18px; }

.btn-quiz {
  width: 500px; }

.btn-default:active {
  background: #fff; }

h4.quiz {
  margin-top: 0;
  margin-bottom: 36px; }

.personality-type {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  border: 2px solid #fff; }

.personality-type-matched {
  background: #039BE5;
  color: #fff; }

.personality-type-not-matched {
  background: #E1F5FE;
  color: #039BE5; }

.interpretation {
  margin-top: 10px;
  margin-bottom: 60px; }
