@import 'variables';

body {

}
#app {
  padding-top: 60px;
  padding-bottom: 100px;
}
.content {
  margin-top: 60px;
}
.personality-quiz h3 {
  margin-bottom: 20px;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.chart {
  background: #E1F5FE;
  border: 2px solid #fff;
}
.chartTop {
  padding-top: 20px;
}
.chart-section {
  text-align: center;
  margin-bottom: 10px;
}
.chart-section h4 {
  margin-top:  0;
  margin-bottom: 0;
}
.chartLabel {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.chartLabelLeftValue {
  color: #039BE5;
}
.chartLabelRightValue {
  color: #0D47A1;
}
.quiz {
  text-align: center;
}
.trait1 {
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.trait2 {
  font-size: 18px;
  margin-top: 18px;
}
.btn-quiz {
  width: 500px;
}
.btn-default:active {
  background: #fff;
}
h4.quiz {
  margin-top: 0;
  margin-bottom: 36px;
}
.personality-type {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  border: 2px solid #fff;
}
.personality-type-matched {
  background: $primary-color;
  color: #fff;
}
.personality-type-not-matched {
  background: $navbar-background;
  color: $primary-color;
}
.interpretation {
  margin-top: 10px;
  margin-bottom: 60px;
}
